body{
   margin: 0px;
   display: flex;
   flex-direction: column;
}



div{
    margin: 0px;
    padding: 0px;;
}

nav{
    background-color: #1c1c1c;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.link-container{
    display: flex;
    justify-content: right;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-container a{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
}

.link-container a:hover{

    background-color: #ddd;
    color: black;
}

.Logo{
    width: 300px;
    height: 70px;
    margin: 5px 20px ;
}


.footer{
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #1c1c1c;
    color: white;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

.column{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.footer h5{
    font-size: 20px;
}

.footer ul{
    list-style-type: none;
}

#links a, #address a{
    text-decoration: none;
    color: #b6b6b6;
}

#links a:hover, #address a:hover{
    text-decoration: none;
    color: #5e5e5e;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin{
    margin: 6px;
}

#socials a{
    color: white;
}

#socials a:hover{
    color: #5e5e5e;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
    width: 90%;
}

.google-map iframe {
    height: 95%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}